body{
  font-family: arial,sans-serif;
  font-size: 13px;
  background-color: white;
  
}
.header{
  text-align: right;
  padding-top: 20px;
}

.page-body{
  height: auto;
  position: fixed;
 
}
.panel-footer{
  width: 100%;
  height: 40px;
  bottom: 0;
  position: absolute;
  
}
.footer-left{
  text-align: left;
  float: left;
  
}

.footer-right{
  text-align: right;
  float: right;
  

}
.tiny-logo{
  height: 25px;
  width:25px;
  margin-left: -30px;
  margin-right: -8px;
}
.sign-in{
  border-radius: 2px;
  background-color: #4387fd;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.google{
  padding-top: 109px;
  padding-bottom: 10px;
  display: block;
  text-align: center;
}
  
.search_bar{
  width: 45%;
  height: 38px;
  margin-top:30px;
  opacity: 0.8;
}
.google-search, .feeling-lucky{
  margin-top: 30px;
  height: 36px;
  line-height: 27px;
  padding-bottom: 30px;
  background-color: #E9E9E9;
  border-radius: 2px
}
.google-search:hover,.feeling-lucky:hover{
  border:solid;
  border-width:1px;
  border-color: #A8A8A8;
}

}
.google-search{
  margin-right: 10px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}